@media (max-width: 768px) {

    .jumbotron {
        height: 100vh;
    }
    h1,
    #typed,
    .typed-cursor {
        font-size: 6rem;
        line-height: 5rem;
    }
    h3 {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    .card-deck {
        flex-flow: column;
        display: flex;
    }
    .card {
        margin-top: 5%;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        height: 100vh;
    }

    h1,
    #typed,
    .typed-cursor {
        font-size: 8rem;
        line-height: 8rem;
    }
    h3 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .card-deck {
        flex-flow: row wrap;
    }

}

.jumbotron {
    margin-bottom: 0;
    background: #fd746c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #ff9068, #fd746c);
    background: -o-linear-gradient(bottom, #ff9068, #fd746c);
    background: linear-gradient(to top, #ff9068, #fd746c);
}

.jumbotron {
    position: relative;
    z-index: 10;
}

h1,
h2,
h3,
h4 .typed-cursor {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: 400;
}


h1,
#typed {
    font-weight: 800;
    margin-bottom: 2%;
    letter-spacing: .3rem;
}

h3 {
    margin-bottom: 5%;
    letter-spacing: .1rem;
    opacity: 0;
}


header a.btn-material {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .6rem;
    padding-right: .6rem;
    margin: auto;
    color: white;
    font-weight: 800;
    text-decoration: none;
    background: black;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
    border-radius: .4rem;
}

header a.btn-material:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.typed-cursor {
    font-weight: 400;
    padding-bottom: 2rem;
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#navbar {
    position: relative;
    overflow: auto;
}


.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background: #fd746c;
    background: -webkit-linear-gradient(right, #ff9068, #fd746c);
    background: -o-linear-gradient(right, #ff9068, #fd746c);
    background: linear-gradient(to left, #ff9068, #fd746c);
    border-radius: .4rem;
}

.nav-pills .nav-link {
    margin-bottom: 1rem;
    color: black;
}

.nav-pills .nav-link:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(1px);
}

.nav-pills .nav-link:active {
    color: white;
}

.content-wrapper {
    position: relative;
    z-index: 100;
    background: white;
    height: auto;
}

#text {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}